#!/bin/bash

git clone git@github.com:pozafly/TIL.git ~/Documents/dev/TIL
git clone git@github.com:pozafly/github-blog-source.git ~/Documents/dev/github-blog-source

printf '\nbefore install package 03 Done!!\n'