{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# 작성중
# https://github.com/politician/dotfiles/blob/main/run_once_before_2-configure-system-darwin.sh.tmpl

# osascript -e 'tell application "System Preferences" to quit'

{{ end -}}