<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.pozafly.trackpad.scroll.direction.toggle</string>
	<key>connections</key>
	<dict>
		<key>03CF0791-79F1-4237-876D-765447535630</key>
		<array/>
		<key>48064E3A-E113-4AB9-AC04-48EF3592EB5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E5B3C19-87FB-4071-969D-10BC16AF6358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E5B3C19-87FB-4071-969D-10BC16AF6358</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B9FF8D8-E784-497D-8CC6-B105A2D57830</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>pozafly</string>
	<key>description</key>
	<string>트랙패드 스크롤 방향 전환</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Scroll Toggler</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Scroll Direction Toggled</string>
				<key>title</key>
				<string>스크롤 방향이 전환되었습니다!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7B9FF8D8-E784-497D-8CC6-B105A2D57830</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Trackpad Scroll Direction Toggle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>48064E3A-E113-4AB9-AC04-48EF3592EB5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>-- macOS Ventura 버전

do shell script "open x-apple.systempreferences:com.apple.Trackpad-Settings.extension" -- Opens the trackpad settings window
delay 1.5 -- The delay is there to make sure the System Events can click buttons.
tell application "System Events"
    tell process "System Settings"
	    click radio button 2 of tab group 1 of group 1 of group 2 of splitter group 1 of group 1 of window 1
	    click checkbox "자연스러운 스크롤" of group 1 of scroll area 1 of group 1 of group 2 of splitter group 1 of group 1 of window 1
	    tell application "System Settings" to quit
    end tell
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9E5B3C19-87FB-4071-969D-10BC16AF6358</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>-- macOS Monterey version

on alfred_script(q)
	tell application "System Preferences"
		(run)
		set current pane to pane "com.apple.preference.trackpad"
	end tell
	delay 0.5
	tell application "System Events"
		tell process "System Preferences"
			click radio button "스크롤 및 확대/축소" of tab group 1 of window "트랙패드"
			click checkbox 0 of tab group 1 of window "트랙패드"
             tell application "System Preferences" to quit
		end tell
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>03CF0791-79F1-4237-876D-765447535630</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>맥북에 마우스를 연결해서 사용할 시 트랙패드 스크롤 방향이 반대로 설정되어있는 경우가 있습니다. 그 때 alfred를 사용해 ss 명령어 하나로 스크롤 방향을 자연스럽게 변경시킬 수 있습니다.

마우스를 사용하지 않고 다시 트랙패드를 사용해야할 때, 한번 더 명령을 하면 스크롤 방향이 원래대로 돌아옵니다.

appleScript를 사용하였으며, Mac 설정 language가 Korean일 경우에만 동작합니다. 만약 language가 US로 설정되어 있다면, workflow 내 appleScript의 System Preference 명칭이 한글로 되어있는 부분을 영문으로 변경해 주면 됩니다.

macOS Ventura 버전으로 업데이트 되었습니다.</string>
	<key>uidata</key>
	<dict>
		<key>03CF0791-79F1-4237-876D-765447535630</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>48064E3A-E113-4AB9-AC04-48EF3592EB5C</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>7B9FF8D8-E784-497D-8CC6-B105A2D57830</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>9E5B3C19-87FB-4071-969D-10BC16AF6358</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://github.com/pozafly/alfred-scroll-toggler</string>
</dict>
</plist>
