<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>01D5B357-D15A-4A40-A5E8-C0D212B040C9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>profile</string>
			<key>text</key>
			<string>Github Profile</string>
			<key>url</key>
			<string>https://github.com/pozafly</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>02E0978C-A193-4FCD-9EF7-527FB68F293B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ciu</string>
			<key>text</key>
			<string>Search for Can I Use '{query}'</string>
			<key>url</key>
			<string>https://caniuse.com/?search={query}</string>
		</dict>
		<key>1511127A-AF16-4943-9787-ADF6EDCF9FCB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gb</string>
			<key>text</key>
			<string>Github Blog</string>
			<key>url</key>
			<string>https://github.com/pozafly/github-blog-source</string>
		</dict>
		<key>318AFA1E-0E6D-4AA7-B66B-2569F5A555CC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>da</string>
			<key>text</key>
			<string>Search for DANAWA '{query}'</string>
			<key>url</key>
			<string>http://search.danawa.com/dsearch.php?k1={query}&amp;module=goods&amp;act=dispMain</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3D6DFC88-7642-4B8B-A33E-76CD2FB49CC0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>text</key>
			<string>Search for MDN '{query}'</string>
			<key>url</key>
			<string>https://developer.mozilla.org/ko/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4B1015C6-9F42-41DB-88B1-E5D20963CCEF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cal</string>
			<key>text</key>
			<string>Open Calendar</string>
			<key>url</key>
			<string>https://calendar.google.com/calendar/u/0/r</string>
		</dict>
		<key>4F976D24-84D6-4330-B222-CC44CE972482</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>qq</string>
			<key>text</key>
			<string>Pozafly's Blog</string>
			<key>url</key>
			<string>https://pozafly.github.io/</string>
		</dict>
		<key>521A3E16-A9B5-4586-B23C-CE3699BC059B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ppg</string>
			<key>text</key>
			<string>Search for Papago '{query}'</string>
			<key>url</key>
			<string>https://papago.naver.com/?sk=auto&amp;tk=ko&amp;st={query}</string>
		</dict>
		<key>5694AED5-A8D9-42D3-AAF9-1DE48E1F5DAB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ns</string>
			<key>text</key>
			<string>Search Naver Shopping for '{query}'</string>
			<key>url</key>
			<string>https://search.shopping.naver.com/search/all?query={query}&amp;cat_id=&amp;frm=NVSHATC</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5BA82F46-8F6A-4905-A1ED-80ABC09BC16A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>qw</string>
			<key>text</key>
			<string>백준 '{query}'</string>
			<key>url</key>
			<string>https://boj.kr/{query}</string>
		</dict>
		<key>5E96C0F9-518A-485E-B369-B1B801358216</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>js</string>
			<key>text</key>
			<string>Search for Js {query}</string>
			<key>url</key>
			<string>https://www.google.co.kr/search?q=javascript+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>943131A5-9795-43AE-BBCE-5CBAEEB968D3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>surfit</string>
			<key>text</key>
			<string>surfit</string>
			<key>url</key>
			<string>https://www.surfit.io/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9AAA24A7-5BFE-4052-B77E-ED7ED787CADF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fm</string>
			<key>text</key>
			<string>PoolsideFM</string>
			<key>url</key>
			<string>https://poolsuite.net/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A8069EF6-F889-4975-B8E9-751CE6CE3F25</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>net</string>
			<key>text</key>
			<string>Netflix</string>
			<key>url</key>
			<string>https://www.netflix.com/browse</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BC631F2B-E265-4A20-A163-DABBA857EF25</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>trend</string>
			<key>text</key>
			<string>Github Trend</string>
			<key>url</key>
			<string>https://github.com/trending</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C07577DA-A650-47C4-A9C8-CBAFDAA6FDA4</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>na</string>
			<key>text</key>
			<string>Search Naver for '{query}'</string>
			<key>url</key>
			<string>https://search.naver.com/search.naver?where=nexearch&amp;sm=osp_hty&amp;ie={inputEncoding}&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C821B9F0-5553-4C94-A6C4-99CCEE2D3713</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>map</string>
			<key>text</key>
			<string>Search Kakao map '{query}'</string>
			<key>url</key>
			<string>https://map.kakao.com/?nil_profile=title&amp;nil_src=local&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E42C9D6F-CC69-4726-B2DF-7093E3324F07</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>na</string>
			<key>text</key>
			<string>네이버</string>
			<key>url</key>
			<string>https://search.naver.com/search.naver?where=nexearch&amp;sm=top_hty&amp;fbm=1&amp;ie=utf8&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E61BB7BF-1436-4A4E-9DB7-2695EC4B7EA8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>qwe</string>
			<key>text</key>
			<string>Search for 백준 node {query}</string>
			<key>url</key>
			<string>https://www.google.co.kr/search?q=백준+{query}+nodejs</string>
		</dict>
		<key>F1CD4D43-C852-43D5-9E08-F7E95AC77F76</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nw</string>
			<key>text</key>
			<string>Search Namu Wiki for '{query}'</string>
			<key>url</key>
			<string>https://namu.wiki/Go?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
