{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Name" -}}

encryption = "age"
[age]
  identity = "{{ .chezmoi.homeDir }}/age-key.txt"
  recipient = "age1k3dd5wtylpz6um3wz2sgyr6ek0zn4mvc8mknaf9tjdjxh7n953psf8gw40"

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}

[edit]
  command = "code"
  args = ["--wait"]

[git]
#  autoCommit = true
