{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $env := promptStringOnce . "env" "env (예: home | work)" -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  env = {{ $env | quote }}

encryption = "age"
[age]
  identity = "{{ .chezmoi.homeDir }}/age-key.txt"
  recipient = "age1k3dd5wtylpz6um3wz2sgyr6ek0zn4mvc8mknaf9tjdjxh7n953psf8gw40"

[edit]
  command = "code"
  args = ["--wait"]

# plist diff을 보여줄 때 바이너리가 아닌, xml로 보여줌
[[textconv]]
  pattern = "**/*.plist"
  command = "plutil"
  args = ["-convert", "xml1", "-o", "-", "-"]

[git]
#  autoCommit = true
