#!/bin/bash

# If Homebrew is not installed on the system, it will be installed here
if test ! $(which brew); then
   printf '\n\n\e[33mHomebrew not found. \e[0mInstalling Homebrew...'
   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
else
  printf '\n\n\e[0mHomebrew found. Continuing...'
fi

# If Oh-my-zsh is not installed on the system, it will be installed here
if [ ! -d $HOME/.oh-my-zsh ]; then
  printf '\n\n\e[33mOh-my-zsh not found. \e[0mInstalling Oh-my-zsh...'
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
else
  printf '\n\n\e[0mOh-my-zsh found. Continuing...'
fi

chezmoi init --apply pozafly

# Update homebrew packages and apps
printf '\nInitiating Homebrew update...\n'
brew bundle --no-lock --file="{{ .chezmoi.sourceDir }}/Brewfile"

# Install age dependency
if which age > /dev/null; then
  echo "'age' is already installed. Skip installation."
else
  echo "'age' is not installed. Start installation."
  brew install age
  echo "Successfully installed 'age'."
fi

# Documents/dev settings
if [ ! -d $HOME/Documents/dev ]; then
  printf '\n\n\e[33mHome/Documents/dev \e[0mInstalling Home/Documents/dev...'
  mkdir {{ .chezmoi.homeDir }}/Documents/dev
else
  printf '\n\n\e[0mHome/Documents/dev found. Continuing...'
fi

printf '\nbefore install package 01 Done!!\n'
