#!/bin/bash

# Documents/dev settings
if [ ! -d $HOME/Documents/dev ]; then
  printf '\n\n\e[33mHome/Documents/dev \e[0mInstalling Home/Documents/dev...'
  mkdir {{ .chezmoi.homeDir }}/Documents/dev
else
  printf '\n\n\e[0mHome/Documents/dev found. Continuing...'
fi

git clone git@github.com:pozafly/TIL.git ~/Documents/dev/TIL
git clone git@github.com:pozafly/github-blog-source.git ~/Documents/dev/github-blog-source

# terminal remove ttys 
touch ~/.hushlogin

# Update macOS settings
printf '\nInitiating macOS update...\n'
sh {{ .chezmoi.sourceDir }}/.macos

printf '\nbefore install package 03 Done!!\n'
