[alias]
st = status

[user]
name = {{ .chezmoi.config.data.name | quote }}
email = {{ .chezmoi.config.data.email | quote }}

[core]
editor = code --wait
precomposeunicode = true
quotepath = false
excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global

[pull]
rebase = true