[alias]
  st = status

{{ $name := get . "name" | default "pozafly" -}}
{{ $email := get . "email" | default "pozafly@gmail.com" -}}
[user]
  name = {{ $name | quote }}
  email = {{ $email | quote }}

[core]
{{- if eq .chezmoi.os "darwin" }}
  editor = code --wait
{{- else if eq .chezmoi.os "linux" }}
  editor = vim
{{- end }}
  precomposeunicode = true
  quotepath = false
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
  autocrlf = input

[pull]
  rebase = true

[init]
  defaultBranch = main
